@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,200;0,300;0,500;1,500;1,900&family=Open+Sans&family=Ubuntu:wght@300&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(to right top, #bad1f4, #cdd9f4, #dde1f4, #eaeaf4, #f4f4f4);
  min-height: 100vh;
  text-decoration: none;
  font-family: "Noto Sans", sans-serif !important;
}

.nav-tabs {
  background: linear-gradient(0deg, rgb(189, 189, 189) 0%, rgb(55, 214, 44) 0%, rgb(158, 230, 158) 100%, rgb(208, 208, 242) 100%);
  border-radius: 6px;
}

.nav-link {
  color: white !important;
}

.nav-item:hover {
  border: none;
}

.nav-link.active {
  color: black !important;
}

.cardCnt {
  background-color: #fff;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 1px 4px 28px -4px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.cardCnt:hover {
  transform: scale(1.05);
}

.cardDesc {
  padding: 15px;
}

.cardTitle {
  margin-top: 15px;
  text-decoration: none;
}

.cardLocation {
  margin-top: 20px;
  margin-left: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  font-size: 19px;
}

.cardLocation > p {
  margin: auto 0px;
}

.cardDate {
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  font-size: 19px;
}

.cardDate > p {
  margin: auto 0px;
}

.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 0);
}

.searchCnt {
  padding: 20px 25px;
  display: flex;
  background-color: #fff;
  height: 50px;
  margin-bottom: 25px;
  justify-content: space-between;
  align-items: center;
}

.searchCnt > div > p {
  margin: 0px;
  font-size: 18px;
  font-weight: 600;
}

.searchCnt > div > input {
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 200px;
  padding: 5px 10px;
}

input[type=text] {
  text-transform: lowercase;
}

.carousel-control-next-icon {
  width: 2rem !important;
  height: 2rem !important;
  background-image: url("https://cdn-icons-png.flaticon.com/512/1053/1053176.png") !important;
}

.carousel-control-prev-icon {
  width: 2rem !important;
  height: 2rem !important;
  background-image: url("https://cdn-icons-png.flaticon.com/512/1053/1053177.png") !important;
}

.detail-NameCategory {
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  padding: 20px;
}

.detailDt > h4 {
  margin-top: 35px;
  margin-bottom: 20px;
}

.detailDt > div > p {
  margin-bottom: 25px;
}

.detailDt > div {
  background-color: #B3FB63;
  padding: 25px;
  border-radius: 12px;
  font-size: 17px;
  margin-bottom: 20px;
}

.detailSeat {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
}

.detailArtist {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
}

.detailDesc {
  background-color: white;
  padding: 25px;
  border-radius: 8px;
  margin-top: 30px;
}

.detailDesc > h5 {
  font-weight: 600;
}

.detailEventName {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 500;
}

.rating label {
  display: block;
  cursor: pointer;
  width: 50px;
  background: #ccc;
}

.map {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detailAddress {
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.artist {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.artistImg {
  border-radius: 30px;
  margin-bottom: 20px;
  transition: all 0.2s ease-in-out;
}

.artistImg:hover {
  transform: scale(0.9);
  cursor: pointer;
}

.artistCap {
  display: flex;
  align-items: center;
}

.outDateCnt {
  opacity: 0.5;
}

.aktifBadge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85px;
  height: 40px;
  background-color: #7BBF30;
  border-radius: 12px;
  color: white;
  position: absolute;
  right: 0;
  margin: 20px;
  font-weight: 600;
}

.pasifBadge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85px;
  height: 40px;
  background-color: red;
  border-radius: 12px;
  color: white;
  position: absolute;
  right: 0;
  margin: 20px;
  font-weight: 600;
}

.aktifBadge > p {
  margin: auto;
}

.pasifBadge > p {
  margin: auto;
}

.imgCnt {
  position: relative;
}

.adres {
  display: flex;
  gap: 10px;
  align-items: center;
}

.adres > p {
  margin: auto 0px;
}

.info {
  padding: 20px;
  background-color: #EFF0ED;
  border-radius: 20px;
}

.carouselCnt {
  background-color: #F6FBF3;
  border-radius: 12px;
  padding: 20px;
}/*# sourceMappingURL=style.css.map */